.almonit-bar {
	width: 60px;
	height: 50px;
	background: #555;
	position: fixed;
	top: 0;
	box-sizing: border-box;
	opacity: 0.8;
	transition: opacity 0.2s ease, width 0.2s ease;
	will-change: transform;
}

.almonit-bar__content {
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	color: #f1f1f1;
	padding: 5px 16px;
	box-sizing: border-box;
}

.almonit-bar.almonit-active {
	opacity: 1;
	width: 515px;
}

@media only screen and (max-width: 1030px) {
  .almonit-bar.almonit-active {
    width: 100% !important;
    bottom: 0 !important;
    left: 0 !important;
  }

  .almonit-urlbar{
  	width: calc(100% - 90px) !important;
    bottom: 0 !important;
    left: 60px !important;
  }
}

.almonit-bar img {
	flex: 0 0 50px !important;
	padding: 10px !important;
	margin-left: -10px !important;
	cursor: pointer !important;
	box-sizing: border-box !important;
	max-width: initial !important;
	max-height: initial !important;
}

.almonit-bar span {
	font-size: 14pt !important;
	line-height: 26px !important;
}

.almonit-urlbar {
	display: none;
	width: 425px;
	left: 60px;
	top: 10px;
	position: fixed;
	border-radius: 5px;
	outline: 0;
	padding: 0 5px;
	border: 1px solid #555;
	background: #777;
	line-height: 28px;
	font-size: 14pt;
	color: #f1f1f1;
	z-index: 99999999999 !important;
	pointer-events:all;
	transition: opacity 0.2s ease;
}

/* GOOEY EEFECT */

.almonit-group {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 99999999 !important;
	filter: url('#almonit-gooey');
	pointer-events: none;
}

.almonit-rect {
	background: black;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	pointer-events:all;
}

.almonit-rect2 {
	position: fixed;
	left: -17px;
	right: -17px;
	top: -17px;
	bottom: -17px;
	height: calc(100% + 34px);
	width: calc(100% + 34px);
	border: 15px solid black;
	box-sizing: border-box;
}
