:root {
  --panel-height: 600px;
  --color-border: #cdcdcd;
}

html,
body {
	height: 100%;
}


body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #4a4a4a;
	background-color: #f3f3f3;
	font-family: "Montserrat", sans-serif;
}

.panel{
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto;
	justify-items: center;
	align-items: center;
	width: 50vw;
	height: 50vh;
	min-height: 300px;
	background: white;
	border: 1px solid var(--color-border);
	border-radius: 5px;
}