:root {
  --panel-height: 700px;
  --color-border: #cdcdcd;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #4a4a4a;
	background-color: #f3f3f3;
	font-family: "Montserrat", sans-serif;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 60%;
	margin-top: 5vh;
}

.header_name{
	display: flex;
	align-items: center;
	margin: 0 20px;
}

.header > img {
	max-width: 50px;
	max-height: 50px;
	width: auto;
	height: auto;
}


.app-version {
	margin-left: 5px;
	color: #bbb;
}

.panel {
	position: relative;
	width: 60%;
	height: var(--panel-height);
	min-width: 500px;
	background: #fff;
	border: 1px solid var(--color-border);
}

.panel > header {
	padding: 0 30px;
	border-bottom: 1px solid var(--color-border);
}

.panel > header > p {
	font-size: 10pt;
}

.panel__action{
	border-top: 1px solid var(--color-border);
}

.pure-form-aligned .pure-control-group label {
	width: auto;
}

.label__hotkey{
	width: 170px !important;
	text-align: left !important;
	margin: 10px 0 !important;
}

section {
	display: grid;
	grid-template-columns: 25% auto;
  	grid-template-rows: auto auto;	
	justify-content: flex-start;
	align-items: center;
	border-bottom: 1px solid var(--color-border);
	padding: 15px 30px;
}

section:last-of-type{
	border-bottom: 0;
}

.scrollable {
	height: calc(var(--panel-height) - 200px);
	overflow-y: scroll;
}

.settings__label {
	font-size: 14pt;
	font-weight: 900;
	color: #000;
}

#ipfs_gateways2{
	margin-left: 10px;
}


.pure-form-aligned .pure-control-group {
	margin-bottom: 0;
	margin: 0.5em 0;
}
.blacklist > li {
	width: 220px;
}
.blacklist > li:hover::after {
	content: "Remove";
	float: right;
	font-size: 8pt;
	line-height: 16pt;
	font-weight: 600;
	color: red;
	cursor: pointer;
}

.button-submit {
	position: absolute;
	bottom: 30px;
	right: 30px;
}
