:root {
	--color-almonit: #cfaf4e;
	--color-primary: #0078e7;
	--color-border: #cdcdcd;
	--color-white: #f9f9f9;
}

html,
body {
	width: 300px;
	height: 280px;
	overflow: hidden;
	box-sizing: border-box;
}

body {
	padding: 15px;
}

header,
header > div {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 12pt;
}

header {
	height: 10%;
}

header > div > img {
	height: 30px;
	margin-right: 10px;
}

.logo a {
	display: flex;
	align-items: center;
	text-decoration: none;
    transition: .3s transform ease;
}

.logo a:link, 
.logo a:visited {
    color: black;
}
.logo a:hover {
    color: black;
    transform: scale(1.1);
}

.logo img {
	width: 30px;
	margin-right: 5px;	
}

.icono-sliders {
	height: 20px;
	width: 20px;
	transition: 0.2s color linear;
	cursor: pointer;
}

.icono-sliders:before {
	height: 6px;
	width: 5px;
}

.icono-sliders:after {
	width: 1px;
}

.icono-sliders:hover {
	color: var(--color-primary);
}

main {
	height: 100%;
	padding: 15px 0;
}

main > section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	height: 70%;
}

main > section > a {
	font-size: 14pt;
	font-weight: 500;
	text-decoration: none;
	color: var(--primary-color);
}

.section-search {
	display: flex;
	flex-direction: column;
	height: auto;
	margin-top: 35px;
}

.section-search form {
	display: flex;
	width: 100%;
}

.section-info {
	position: fixed;
	bottom: 0;
	padding-bottom: 15px;
	height: auto;
	align-items: start;
	font-size: 8pt;
}

.input-seach {
	width: 100%;
	padding: 0 5px;
	background-color: #efefef;
	border: 1px solid #efefef !important;
	outline: none;
	height: 33px;
}

.input-seach:focus {
	outline: none !important;
    border: none !important;
    box-shadow: 0 0 10px #719ECE !important;
}

.input-seach::placeholder {
	line-height: 1.2em;
}

.button-search {
	position: absolute;
	height: 33px;
	width: 49px;
	right: 15px;
	background-color: #efefef;
	border: 1px solid #efefef;
	border: none;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.button-search:hover {
	background-color: #bbbbbb;
}

.icono-search {
	right: 3.5px;
	color: black;
	transform: scale(0.7) rotate(-45deg);
}


.session-item {
	width: 100%;
	display: grid;
	grid-template-columns: 50% 50%;
	line-height: 2.1em;
}

.session-item > div {
	display: flex;
}

.session-brand {
	display: flex;
	align-items: center;
}

.session-status {
	min-width: 140px;
}

.gateway-icon {
	width: 14px;
	height: 14px;
	margin-right: 7px;
	margin-bottom: 2px;
}

.current-gateway {
	white-space: nowrap;
}

.option_type {
	color: #bbb;
	margin-left: 3.5px;
}

footer {
	height: 10%;
}

footer > button {
	width: 100%;
	height: 100%;
}

footer > button:active {
	background: white;
	color: #0070d8;
}
